* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* *{
    overflow: auto !important; 
    outline: 2px solid black !important;
  } */




body {
    background-color: #ee0000;
    font-family: "Oswald", sans-serif;
    cursor: url(images/Cursor.svg), auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #f8f8f8;
}

p {
    color: #f8f8f8;
    letter-spacing: 3px;
    /*font-family: "Gabarito", sans-serif;*/
}

a {
    text-decoration: none;
    cursor: url(images/anchor.svg), auto;
}

::selection {
    background: #f8f8f8;
    color: #ee0000;
}


/* -----------------------------------Container----------------------------------- */
.container {
    margin: 0 auto;
    padding: 0;
}

/* Grid System */
.row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    flex: 1;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col-5 {
    flex: 5;
}

/* -----------------------------------Scroll Bar----------------------------------- */

::-webkit-scrollbar {
    display: none;

}

::-webkit-scrollbar-track {
    background: #ee0000;
}

::-webkit-scrollbar-thumb {
    background: #f8f8f8;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.wrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
}

.wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

/*-----------------------------------Text-animation-----------------------------------*/
:root {
    --bg-color: #ee0000;
}

.text-animation span {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.text-animation.animate span::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(-101%);
}

.text-animation.animate span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(0);
}

@keyframes a-ltr-after {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(101%)
    }
}

@keyframes a-ltr-before {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(200%)
    }
}





/*-----------------------------------Home Banner-----------------------------------*/
.heading.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header.container {
    padding: 0%;
}

.header-img {
    height: 100vh;
    /* background-attachment: fixed; */
    background-image: url("images/K55_0196.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.heading.col h1 {
    font-size: 80px;
}

@media only screen and (max-width: 500px) {
    .header.container {
        position: relative;
    }

    .heading.col {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .heading.col h1 {
        font-size: 50px;
    }

    .about.col {
        height: auto !important;
        margin-top: 5vh;
    }

    #aboutp {
        text-align: center;
        font-size: 15px !important;
        padding: 8px 8px 8px 8px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .product{
        height: auto !important;
    }
    .tm.row {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tmimg.col-2{
        width: 100% !important;
    }
    .tm2-content {
        margin-right: 0 !important;
        text-align: center !important;
        width: 100%;
    }
    .tm-content{
        margin-left: 0;
        text-align: center;
    }
    .tm2-mobile{
        flex-direction: column-reverse !important;
    }

}

.typography {

    position: absolute;
    z-index: -1;
    font-size: 40vh;
    -webkit-text-stroke: 3px #f8f8f8;
    -webkit-text-fill-color: transparent;
    opacity: 0.3;
}

@media only screen and (max-width: 600px) {
    .typography {
        font-size: 15vh !important;
    }
}

/*-----------------------------------About Section----------------------------------------*/
.about.col {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about.col h1 {
    font-size: 80px;
}



#aboutp {
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    .about.col h1 {
        text-align: center;
        font-size: 40px;
    }
}


/*-----------------------------------Project Section----------------------------------------*/
.project.col-3 {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
}

.project.col-3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project.col-2 {
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}

.project.col-2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.prd.container {
    width: 100%;
    padding: 20px;
}

.scprd.row {
    margin-top: 1%;
    gap: 20px;
}

.prd.row {
    gap: 20px;
}

.prd.col h1 {
    font-size: 80px;
}

.prd.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .prd.col h1 {
        text-align: center;
        font-size: 40px;
    }

    .project.col-2 {
        height: 20vh;
    }

    .project.col-3 {
        height: 15vh;
    }
}



/*-----------------------------------Time Line--------------------------------*/

.tml {
    margin-top: 5%;
}

.tm.col-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.tm2.col-2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.tmimg.col-2 {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
}

.tmimg.col-2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tm.row {
    padding: 20px;
}

.tm-content {
    margin-left: 5%;
}

.tm2-content {
    margin-right: 5%;
    text-align: end;
}

@media only screen and (max-width: 600px) {
    .skills.col-5 {
        flex-direction: row;
    }

    .skills.container {
        height: auto !important;
        margin-top: 5vh;
    }

    .skills.col-5 img {
        height: 10vh !important;
    }
    .skill.col{
        flex-direction: column;
        margin: 15vh 5vh 0vh 5vh; 
    }
}


/*-----------------------------------SKills--------------------------------*/

.skills.container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.skills.col-5 img {
    height: 20vh;
    object-fit: cover;

}

.skills.col-5 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

/*-----------------------------------SKill--------------------------------*/


.skill.col {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 20px;
}

.download-button {
    position: relative;
    border-width: 0;
    color: #ee0000;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
    cursor: pointer;
}

.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #f8f8f8;
    border: solid 1px #555;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #f8f8f8;
    border: solid 1px #ee0000;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
    transform: translateY(100%)
}

.download svg polyline,
.download svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

.skill-btn {
    display: flex;
    align-items: center;
}

#lottie {
    height: 500px;
    width: 500px;
}

@media only screen and (max-width: 600px) {
    .skill.col p {
        font-size: 27px;
    }

    #lottie {
        height: 300px;
        width: 400px;
    }

    .skill-btn {
        justify-content: center;
    }
}


/*-----------------------------------Horizontal Scroll--------------------------------*/

/* .container-gsap {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.panel {
    min-width: 100%;  
    height: 100vh;    
} */


/*-----------------------------------Contact-----------------------------------*/

.contact.row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact.container {
    height: auto;
    margin-bottom: 3%;
}

.contact.col-2 input {
    border-bottom: 3px dashed #f8f8f8;
    font-size: 60px;
    text-transform: lowercase;
}

input,
textarea,
label {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    color: inherit;
}

.contact.col-2 label {
    font-size: 60px;
    color: #f8f8f8;
}

.contact.col-2 form {
    padding: 2%;
}

.contact.col-2 #Location {
    width: 15%;
}

.contact.col-2 textarea {
    border-bottom: 3px dashed #f8f8f8;
    font-size: 60px;
    text-transform: lowercase;
    width: 100%;
}

#contact-lottie {
    width: 60vh;
    height: 30vh;
    margin-top: -15%;
}

@media only screen and (max-width: 600px) {
    .contact.container {
        height: auto;
    }

    .contact.col-2 input {
        font-size: 30px;
        width: 100%;
    }

    .contact.col-2 textarea {
        font-size: 30px;
    }

    .contact.col-2 label {
        font-size: 30px;
    }

}



.btn {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    background: transparent;
    border: none;
    height: 120px;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;

}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #f8f8f8;
    transition: 0.5s ease;
    color: #ee0000;
}

.btn:hover {
    color: #ee0000;
    transition-delay: 0.5s;
    letter-spacing: 3px;
    padding: 10px;
}

.btn:hover::before {
    width: 100%;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #f8f8f8;
    transition: 0.4s ease;
    z-index: -1;
    color: #ee0000;
}

.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

@media only screen and (max-width: 600px) {
    .btn {
        font-size: 40px;
    }
}

/*-----------------------------------End-----------------------------------*/

.container.end {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

blockquote::selection {
    background-color: #ee0000;
    color: #f8f8f8;
}

blockquote {
    color: #ee0000;
    font-size: 8vh;
    text-align: center;
}

.author {
    font-style: italic;
    font-size: 5vh;
}

@media only screen and (min-width: 320px) and (max-width: 380px) {
    .typography {
        font-size: 13vh !important;
    }
    .typography {
        -webkit-text-stroke: 1px #f8f8f8;
    }
    .author {
        font-style: italic;
        font-size: 3vh;
    }
    .contact.col-2 form {
        padding: 0%;
    }
    .contact.col-2 #Location {
        width: 50%;
    }
    .project.col-3 video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (min-width: 200px) and (max-width: 320px) {
    .typography {
        font-size: 10vh !important;
    }
    .typography {
        -webkit-text-stroke: 1px #f8f8f8;
    }
    .heading.col h1 {
        font-size: 40px;
    }
    .scprd.row {
        margin-top: 3%;
        gap: 20px;
    }
    .skills.col-5 img {
        height: 7vh !important;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .typography {
        font-size: 25vh !important;
    }
    .heading.col h1 {
        font-size: 50px;
    }
}
